name: Python packages

on:
  push:
    paths:
      - "setup.py"
      - "pyproject.toml"
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest] # ubuntu-latest should be produced by cibuildwheel
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@v5
      - name: Setup CMake
        uses: jwlawson/actions-setup-cmake@v2

      - name: Install dependencies
        run: python -m pip install --upgrade pip build twine
      - name: Build package
        run: python -m build --wheel
      - name: Upload
        run: python -m twine upload dist/* --username __token__ --password ${{ secrets.PIP_API_TOKEN }} --skip-existing
